@charset "UTF-8";
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bg-color: rgba(255, 255, 255, 1);
  --transition-transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ___________________Тело страницы _______________*/
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ______________________Утилиты_____________________ */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.logo {
  display: inline-block;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
}
.logo-second {
  color: rgb(0, 0, 0);
}
.logo-second-foot {
  color: var(--primary-bg-color);
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal {
  position: absolute;
  transition: transform 250ms linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  max-height: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close {
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: var(--transition-transform);
}
.modal-close:hover .modal-icon-close, .modal-close:focus .modal-icon-close {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}
.modal-icon-close {
  fill: rgb(0, 0, 0);
  transition: var(--transition-transform);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: rgb(33, 33, 33);
}
.modal-field:nth-child(-n+3) {
  margin-bottom: 10px;
}
.modal-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-input {
  padding: 0 0 0 42px;
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent-color);
  transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-wrap {
  position: relative;
  top: 0;
  left: 0;
}
.modal-icon {
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-transform);
}
.modal-icon:hover, .modal-icon:focus {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}
.modal-phone {
  position: relative;
  top: 0;
  left: 0;
}
.modal-mail {
  position: relative;
  top: 0;
  left: 0;
}
.modal-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  color: var(--accent-color);
  background: var(--primary-bg-color);
  border: none;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: var(--primary-text-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:hover, .modal-comment:focus {
  border-color: var(--accent-color);
  transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-privacy {
  margin-bottom: 30px;
  text-align: center;
}
.modal-contract {
  color: var(--accent-color);
}
.modal-text {
  height: 24px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}
.modal-text::before {
  bottom: -2px;
  position: relative;
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}
.modal-check:checked + .modal-text::before {
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/vector.svg);
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  transition: var(--transition-transform);
  align-items: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: rgb(245, 244, 250);
  border: none;
  transition: var(--transition-transform);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  color: var(--title-text-color);
  background-color: rgb(245, 244, 250);
  border: none;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.search {
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.site-nav .item + .item {
  margin-left: 47px;
}

.main-nav .link {
  padding: 32px 3px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: var(--transition-transform);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: var(--transition-transform);
}

.current {
  color: var(--accent-color);
  display: flex;
  transition: var(--transition-transform);
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: var(--transition-transform);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: var(--transition-transform);
}

/* ___________________Contacts___________________*/
.search .contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.smartphone-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.contacts-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.envelope-icon {
  margin-right: 10px;
  fill: rgb(117, 117, 117);
  transition: var(--transition-transform);
}

.contacts-link {
  display: flex;
  align-items: center;
  color: rgb(117, 117, 117);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--transition-transform);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.envelope-icon .contacts-envelope:hover .envelope-icon,
.contacts-envelope:focus .envelope-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  margin-right: 10px;
  fill: rgb(117, 117, 117);
  transition: var(--transition-transform);
}

.contacts-link:hover .smartphone-icon,
.contacts-link:focus .smartphone-icon,
.contacts-link:hover .envelope-icon,
.contacts-link:focus .envelope-icon {
  fill: var(--accent-color);
}

.hero-section {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(196, 196, 196);
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .hero-section {
    width: 1600px;
    height: 600px;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}

.feature__list {
  display: flex;
}
.feature__list .item + .item {
  margin-left: 30px;
}
.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.examples {
  padding-top: 0px;
}
.examples__list {
  display: flex;
}
.examples__list .item:not(:last-child) {
  margin-right: 30px;
}
.examples__item {
  position: relative;
}
.examples__img-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}
.examples__title {
  height: 16px;
  font-weight: 500;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}

.team {
  background-color: rgb(245, 244, 250);
}

.team__border {
  padding: 30px 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.team__employe {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__section {
  display: flex;
  width: 270px;
  height: 428px;
  font-size: 16px;
  line-height: 1.18;
}

.team__section .item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__section .item + .item {
  margin-left: 30px;
}

.team__border > p {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: var(--transition-transform);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: rgb(175, 177, 184);
  transition: var(--transition-transform);
}

.social-list__icon:hover,
.social-list__icon:focus {
  fill: var(--primary-bg-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-bg-color);
}

.regular {
  height: 372px;
}

.regular-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.regular-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-link {
  border: 1px solid;
  width: 170px;
  height: 92px;
  padding: 12px 32px;
  border-color: rgb(175, 177, 184);
  border-radius: 4px;
  transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-link:hover,
.regular-link:focus {
  border-color: var(--accent-color);
}

.regular-icon {
  fill: rgb(175, 177, 184);
  transition: var(--transition-transform);
}

.regular-icon:hover,
.regular-icon:focus {
  fill: var(--accent-color);
}

.regular-link:hover .regular-icon,
.regular-link:focus .regular-icon {
  fill: var(--accent-color);
}

footer {
  background-color: rgb(47, 48, 58);
}

.foot {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.call {
  margin-top: 12px;
  margin-left: 70px;
}

.logo-sec,
.address-maps {
  color: var(--primary-bg-color);
  text-decoration: none;
  transition: var(--transition-transform);
}

.address {
  margin-top: 20px;
  font-style: normal;
}
.address-maps:hover, .address-maps:focus {
  color: var(--accent-color);
}

.address-nav {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--transition-transform);
}
.address-nav:hover, .address-nav:focus {
  color: var(--accent-color);
}

/*______________ Приєднуйтесь */
.footer-title {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list--dark {
  display: flex;
  gap: 10px;
}
.social-list--dark .social-list__link--dark-link {
  background: rgba(255, 255, 255, 0.1);
}
.social-list--dark .social-list__link--dark-link:hover, .social-list--dark .social-list__link--dark-link:focus {
  background-color: var(--accent-color);
}
.social-list--dark .social-list__icon--dark-icon {
  fill: var(--primary-bg-color);
}
.social-list__link--dark-link:hover .social-list--dark .social-list__icon--dark-icon, .social-list__link--dark-link:focus .social-list--dark .social-list__icon--dark-icon {
  fill: var(--primary-bg-color);
}

.footer-subscribe {
  padding-bottom: 34px;
}

.footer-input {
  margin-left: 93px;
}

.footer-button {
  position: relative;
  margin-top: 48px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 0;
  padding: 10px 62px 10px 28px;
  cursor: pointer;
  border: none;
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--transition-transform);
}
.footer-button:hover, .footer-button:focus {
  background: var(--primary-bg-color);
  color: var(--accent-color);
  transition: var(--transition-transform);
}

.icon-send {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
  fill: rgb(255, 255, 255);
  transition: var(--transition-transform);
}
.footer-button:hover .icon-send, .footer-button:focus .icon-send {
  fill: var(--accent-color);
  transition: var(--transition-transform);
}

.label-subscribe {
  display: block;
  margin-bottom: 20px;
  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscribe-title {
  width: 207px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-input {
  padding: 15px 15px 16px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.gallery {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-list-thumb {
  position: relative;
  overflow: hidden;
}

.gallerry-border {
  padding: 20px 24px 20px 24px;
  height: 110px;
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}

.gallery-list-link:hover .gallery-list-text,
.gallery-list-link:focus .gallery-list-text {
  transform: translateY(0);
  transition: transform 250ms;
}

.gallery-list-text {
  left: 0;
  top: 0;
  position: absolute;
  display: inline-block;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--primary-bg-color);
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms;
}

.gallery-list-link:hover .gallery-list-text {
  transform: translateY(0);
}

.gallery-list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  outline: none;
}

.gallery-list-link {
  display: block;
  text-decoration: none;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-link:hover,
.gallery-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list:nth-child(3n) {
  margin-right: 0px;
}

.gallery-list:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.gallery-title {
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}/*# sourceMappingURL=main.css.map */