.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal {
  position: absolute;
  transition: transform 250ms linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);

  padding: 40px;

  width: 528px;
  min-height: 581px;
  max-height: 100%;

  background-color: var(--primary-bg-color);

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &-close {
    top: 8px;
    right: 8px;
    padding: 0;
    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: var(--primary-bg-color);

    border: 1px solid rgba(0, 0, 0, 0.1);

    position: fixed;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: var(--transition-transform);

    &:hover .modal-icon-close,
    &:focus .modal-icon-close {
      fill: var(--accent-color);
      transition: var(--transition-transform);
    }
  }

  &-icon-close {
    fill: rgba(0, 0, 0, 1);
    transition: var(--transition-transform);
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: rgba(33, 33, 33, 1);
  }

  &-field:nth-child(-n + 3) {
    margin-bottom: 10px;
  }

  &-field-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &-input {
    padding: 0 0 0 42px;
    display: block;

    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &-wrap {
    position: relative;
    top: 0;
    left: 0;
  }

  &-icon {
    left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition-transform);

    &:hover,
    &:focus {
      fill: var(--accent-color);
      transition: var(--transition-transform);
    }

    .modal-input:hover + &,
    .modal-input:focus + & {
      fill: var(--accent-color);
      transition: var(--transition-transform);
    }
  }

  &-phone {
    position: relative;
    top: 0;
    left: 0;
  }

  &-mail {
    position: relative;
    top: 0;
    left: 0;
  }

  &-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    background: #2196f3;

    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      background: var(--primary-bg-color);
      border: none;
      transition: var(--transition-transform), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-label {
    display: inline-block;

    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
  }

  &-comment {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    color: var(--primary-text-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      transition: var(--transition-transform), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-field-privacy {
    margin-bottom: 30px;
    text-align: center;
  }

  &-contract {
    color: var(--accent-color);
  }

  &-text {
    height: 24px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    cursor: pointer;

    &::before {
      bottom: -2px;
      position: relative;
      display: inline-block;
      content: '';
      width: 16px;
      height: 15px;

      margin-right: 7px;
      border: 2px solid var(--title-text-color);
      border-radius: 2px;
    }

    .modal-check:checked + &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--accent-color);
      border: none;
      background-image: url(../images/vector.svg);
    }
  }
}
