*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ___________________Тело страницы _______________*/

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ______________________Утилиты_____________________ */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
