.hero-section {
  background-color: rgba(196, 196, 196, 1);

  width: 480px;
  height: 410px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section .section {
  display: flex;
}

.hero-section .container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 30px;
  display: block;

  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: 900;
  max-width: 696px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
