.hero-section {
  display: flex;
  align-items: center;
  text-align: center;

  background-color: rgba(196, 196, 196, 1);
  width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1600px;
    height: 600px;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  @include tablet {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}
